@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=PT+Sans:wght@400;700&display=swap');



.body-home {
  background-image: url(../images/fighter-jet-v3.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center center;
  background-size: cover;
  margin:0px;
}

.body-sports {
  background-color: #000;
}


#wrapper {
  max-width: 1200px;
  margin-left: 107px;
}


#home-button {
  margin:0px 0px 0px 20px;
  width: 85px;
  height: 100px;
  border: 1px solid #000;
  padding-top: 0px;
  padding-right: 1px;
  padding-left: 1px;

  display: block;
  text-decoration: none;
  font-family: 'PT Sans', sans-serif;
  color: #333;
  font-size: 25px;

}

.jared {
  font-size: 25px;
  letter-spacing: 3px;
  margin: 0px;
  margin-left: 9px;

}

.lennon {
  font-size: 25px;
  letter-spacing: 1px;
  margin: 0px;
  margin-left: .5px;

}

.photo {
  font-size: 25px;
  letter-spacing: 2.5px;
  margin: 0px;
  margin-left: 5.5px
}

#side-bar {
  height: 100%;
  width: 165px;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #fff;
  padding-top: 20px;

}

nav a {
  display: block;
  color: #000;
  text-decoration: none;
  font-family: 'Open Sans', sans-serif;
  padding-top: 40px;
  padding-left: 10px;
  margin-left: 15px;
  font-weight: bold;

  font-size: 20px;

  /*
  margin-top: 0px;
  margin-bottom: 0px;
  */
}

nav a:hover {
  color: #f00;
}


#content-images {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(25em, 1fr));

  grid-gap: 1em;
  margin-left: 70px;
}

.content1 {
  border: 1px solid #000;
  background-color: #fff;

}

.content2 {
  border: 1px solid #000;
  background-color: #fff;

}

.content3 {
  border: 1px solid #000;
  background-color: #fff;

}

.content4 {
  border: 1px solid #000;
  background-color: #fff;

}

figure {
  margin: 10px;
}
figure img {
  width: 100%;
  height: auto;
}

figcaption {
  font-family: 'Open Sans', sans-serif;

}

#football-caption {
  font-size: 18px;
}

#soccer-caption {
  font-size: 18px;
}

#tennis-caption {
  font-size: 17px;
}

#basketball-caption {
  font-size: 17px;
}

#savage-caption {
  font-size: 18px;
}

#dababy-caption {
  font-size: 18px;
}

#dan-shay-caption {
  font-size: 20px;
}
#maroon-v-caption {
  font-size: 20px;
  word-spacing: 1px
}

#a10-caption {
  font-size: 16px;
}

#blue-angels-caption {
  font-size: 16px;
  word-spacing: .5px;
}

#f22-caption {
  font-size: 18.5px;
  word-spacing: 1.5px;
}

#f35-caption {
  font-size: 17.5px;
}
